.drawflow-input {
    all: revert;
    color: black;
    max-width: 100%;
    overflow-x: scroll;
}

#drawflow button {
    all: revert;
}

#branching-section{
    display: flex;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}




#sidebar {
    padding: 14px;
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

}

#branching-section p {
    overflow-wrap: break-word;
}

#nodes {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.node-type {
    background-color: #164734;
    padding: 10px 16px;
    align-content: center;
    
    color: white;
    border-radius: 4px;
    
}

.question-node {
    display:flex;
    flex-direction: column;
    gap:16px;
}
.answers {
    display:flex;
    flex-direction: column;
    gap:5px
}


.answer {
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.remove-answer {
    flex-shrink: 0; /* stops button from being pushed out */
}



.answer input {
    flex:1;
    min-width: 0;
}

#drawflow {
    flex:1;
    background-color: rgb(225, 225, 225);
    margin:0;
}

.drawflow .drawflow-node .inputs .input.inputConnected {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent #007bff;
    background: transparent;
    border-radius: 0;
}

