* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;

}

header {
    background: #154734;
    color: whitesmoke;
    padding: 0 20px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


a {
  color: inherit;
}

a:hover {
  color: gray;
}


div{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
  gap:10px;
}
#choice{
  flex-direction: row;
}

button {
  background-color: #154734;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: .2s ease;
  font-family: 'DM Serif Display', Georgia, serif;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;

}

button:hover {
  transform: translateY(-1px);
  border-color: rgba(255, 255, 255, 0.6);
}

button:active {
  translate: 0 2px;
  opacity: 0.75;
}

.status_message {
    font-family: 'DM Serif Display', Georgia, serif;
    color: #154734;
    font-size: 16px;
    text-align: center;
    max-width: 400px;
    padding: 0 20px;
}

.logged_out_message {
  font-family: 'DM Serif Display', Georgia, serif;
  color: #154734;
  font-size: 16px;
  margin-bottom: 20px;
}

h3 {
  color:#154734;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  align-items: center;
  height: 90vh;
  gap:20px;
}

main > div {
  display: flex;
  padding: 30px 60px;
  flex-direction: column;
  gap:50px;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.1);
}