* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    background: #154734;
    color: whitesmoke;
    padding: 0 12px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#actions button {
    background-color: #154734;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: .2s ease;
    font-family: 'DM Serif Display', Georgia, serif;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 2px;

}

#actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

#actions button:hover {
    transform: translateY(-1px);
    border-color: rgba(255, 255, 255, 0.6);
}

#actions button:active {
    translate: 0 2px;
    opacity: 0.75;
}



main>div {
    display: inline-flex;
    padding: 30px 45px;
    flex-direction: column;
    gap: 50px;
    margin-top: 130px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
}

main h3 {
    color: #154734;
    margin-bottom: 3px;
}

#quizzes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#quizzes ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: square;
}

li::marker {
    color:#154734a1;

}

.quiz-selector {
    background-color: #15473415;
    transition: all 0.2s ease;
    padding: 4px 8px 2px 8px;
    border: none;
    border-bottom: #154734b7 2px solid;
    color: #154734;
    font-family: 'DM Serif Display', Georgia, serif;
    width: 100%;
    text-align: left;
}

.quiz-selector:hover {
    transform: translateX(2px);
    border-bottom-color:#1547348d;
}

.quiz-selector:active {
    opacity: 0.75;
}

.home_btn {
    background: #154734;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'DM Serif Display', Georgia, serif;
    font-size: 14px;
    padding: 10px 16px;
    transition: all 0.2s ease;
}

.home_btn:hover {
    background: rgb(30, 95, 69);
}