<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - UVM Quiz Builder</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <header>
        <h1>
            Welcome!
        </h1>
    </header>
    <main>
        <div>
            <h3>Create and Share Informational Quizzes</h3>
            <div id="choice">
                <a href="{{ url_for('quiz_login') }}"><button>Log in</button></a>
                <a href="{{ url_for('register') }}"><button>Register</button></a>
            </div>
        </div>


    </main>
</body>

</html>