<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>

<body>
    <header>
        <h1>
            Welcome!
        </h1>
    </header>
    <div>
        <div id="choice">
            <a href="{{ url_for('quiz_login') }}"><button>Log in</button></a>
            <a href="{{ url_for('register') }}"><button>I do not have an account yet</button></a>
        </div>
        <a href="{{ url_for('quiz_selection') }}">
            <button class="home_btn">Bypass the system</button>
        </a>
    </div>
</body>

</html>