<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Creation</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_builder.css') }}">
    <!-- This is only allowing us to BUILD the quiz itself, as for hosting, running the quiz, and exporting it 
      this is still very much a work in progress (can it be called that when we have nothing yet?) -->
</head>

<body>
    <header>
        <h1>Quiz builder</h1>
        <div class="header_actions">
            <a href="{{ url_for('quiz_selection') }}">
                <button class="home_btn">Home</button>
            </a>
            <button class="export_quiz" onclick="saveQuiz()">Save your quiz</button>
        </div>

    </header>

    <div id="app_layout">
        <aside>
            <div class="quiz_info">
                <p>Title</p>
                <input class="quiz_input" id="quiz-title" placeholder="e.g. Career-Ready quiz" value=""
                    oninput="render()">
            </div>
            <div class="quiz_info">
                <p>Subtitle / description</p>
                <textarea class="quiz_input" id="quiz-desc" placeholder="What is this quiz for?"
                    oninput="render()"></textarea>
            </div>
            <div id="category_creation">
                <button class="add_category" onclick="addCategory()">Add a category</button>
            </div>
            <div id="category"></div>
        </aside>

        <main id="question_editor" style="display: none;">
            <div id="editor_header">
                <h2 id="editor_category_title">category name</h2>
                <button id="close_editor" onclick="closeEditor()">✕ Close</button>
            </div>
            <div id="questions_list"></div>
            <button class="add_question_btn" onclick="addQuestion(active_category_Id)">Add a question</button>
        </main>

        <main id="empty_state">
            <div id="empty_hint">
                <p>Select a category to start adding questions</p>
            </div>
        </main>
        <div id="answer_panel" style="display: none;"></div>
    </div>
    <script>
        let quiz = {{ quiz | tojson }} || {
            title: '',
            desc: '',
            id: '',
            categories: []
        };
        document.getElementById('quiz-title').value = quiz.title;
        document.getElementById('quiz-desc').value = quiz.desc;
    </script>
    <script src="{{ url_for('static', filename='quiz_builder.js') }}"></script>

</body>

</html>