<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_login.css') }}">
</head>

<body>
    <header>
        <h1>Log in</h1>
    </header>
    <main>
        <form method="POST" action="{{ url_for('quiz_login') }}">
            <div id="form-container">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br>
                </div>
            </div>
            <div id="button-container">
                <button type="submit">Log in </button>
                <a href="{{ url_for('register') }}">
                    <button id="alt-btn" class="home_btn" type="button">Register Instead</button>
                </a>
            </div>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </main>

</body>

</html>