<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Creation</title>
    <link href="static/quiz_builder.css" rel="stylesheet">
    <!-- TODO as of right now this page allow for modification of only one quiz. 
     Therefore we need to build a page (let's call it A) that will LEAD into this page (B).
     Page A will allow the user to choose which quiz we want to modify/allow the user to create a brand new one  
     this page (B) will be the one we send the user if they decide to create a brand new one.-->
    <!-- This is also only allowing us to BUILD the quiz itself, as for hosting, running the quiz, and exporting it 
      this is still very much a work in progress (can it be called that when we have nothing yet?) -->
</head>

<body>
    <header>
        <h1>Quiz builder</h1>
        <button class="export_quiz" onclick="saveQuiz()">Save your quiz</button>


    </header>

    <div id="app_layout">
        <aside>
            <div class="quiz_info">
                <p>Title</p>
                <input class="quiz_input" id="quiz-title" placeholder="e.g. Career-Ready quiz" value=""
                    oninput="render()">
            </div>
            <div class="quiz_info">
                <p>Subtitle / description</p>
                <textarea class="quiz_input" id="quiz-desc" placeholder="What is this quiz for?"
                    oninput="render()"></textarea>
            </div>
            <div id="block_creation">
                <button class="add_block" onclick="addBlock()">Add a block</button>
            </div>
            <div id="block"></div>
        </aside>

        <main id="question_editor" style="display: none;">
            <div id="editor_header">
                <h2 id="editor_block_title">Block name</h2>
                <button id="close_editor" onclick="closeEditor()">✕ Close</button>
            </div>
            <div id="questions_list"></div>
            <button class="add_question_btn" onclick="addQuestion(active_category_Id)">Add a question</button>
        </main>

        <main id="empty_state">
            <div id="empty_hint">
                <p>Select a block to start adding questions</p>
            </div>
        </main>
    </div>
    <script>
        let quiz = {{ quiz | tojson }} || {
            title: '',
            desc: '',
            id: uid(),
            categories: []
        };
        document.getElementById('quiz-title').value = quiz.title;
        document.getElementById('quiz-desc').value = quiz.desc;
    </script>
    <script src="static/quiz_builder.js"></script>
</body>

</html>