<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="static/quiz_builder.css" rel="stylesheet">
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
</head>

<body>
    <header>
        <h1>Quiz Selection</h1>

    </header>
    <br>
    <main>
        {% for quiz in quizzes %}
        <a id="category_creation" href="{{ url_for('quiz_builder', quiz=quiz) }}">
            <button class="add_category">{{ quiz[:-5] }}</button>
        </a>
        {% endfor %}
        <br>
        <a id="category_creation" href="{{ url_for('quiz_builder', quiz='new_quiz') }}">
            <button class="add_category">Create New Quiz</button>
        </a>

    </main>
</body>

</html>