<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_selection.css') }}">
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
</head>

<body>
    <header>
        <h1>Quiz Selection</h1>
        <h3>You are logged in as {{ username }}</h3>
        <a href="{{ url_for('logout') }}">
            <button class="home_btn">Log Out</button>
        </a>
    </header>
    <main>
        <aside>
            {% for quiz in quizzes %}

            <a id="quiz_creation" href="{{ url_for('quiz_builder', quiz=quiz) }}">
                <button class="quiz_selector">{{ names[loop.index0] }}</button>
            </a>

            {% endfor %}
 
            <br>
            <a id="quiz_creation" href="{{ url_for('quiz_builder', quiz='new_quiz') }}">
                <button class="quiz_selector">Create New Quiz</button>
            </a>
			<a id="quiz_creation" href="{{url_for('show_available_quizzes')}}">
				<button class="quiz_selector">Take a Quiz</button>
			</a>
        </aside>
    </main>
</body>

</html>
