<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="/static/asset/favicon/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_login.css') }}">

</head>

<body>
    <header>
        <h1>Register Here</h1>
    </header>
    <main>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('register') }}">
            <div id="form-container">
                <div>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" required> <br>
                </div>
                <div>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br>
                </div>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                </div>
            </div>

            <div id="button-container">
                <button type="submit">Register</button>
                <a href="{{ url_for('quiz_login') }}">
                    <button id="alt-btn" class="home_btn" type="button">Login Instead</button>
                </a>
            </div>

        </form>

    </main>
</body>

</html>